.t-theme-global-search-result-item {
  color: #525252;
  text-decoration: none;
  width: 100%;
  padding: 0;
  height: auto;
  padding: 1.14em;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.57em;
  word-wrap: break-word;
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;

  background-color: white;
  text-align: initial;
}

.t-theme-global-search-result-item a {
  color: #525252;
}

.t-theme-global-search-result-item[t-selected] a {
  color: #fff;
}

.t-theme-global-search-result-item:last-child {
  margin-bottom: 0.68em;
}

.t-theme-global-search-result-item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.t-theme-global-search-result-item[t-selected] {
  color: #fff;
  background-color: #007df9;
}

.t-theme-global-search-result-item[t-selected]:focus-visible {
  outline: #fff 0.14em solid;
  outline-offset: -0.28em;
  border-bottom: 0;
}

.t-theme-global-search-result-item:focus-visible {
  outline: #3291ff 0.14em solid;
  outline-offset: -0.14em;
}

.t-theme-global-search-result-item[t-unread] {
  background-color: #f7f7f7;
  color: #111;
}

.t-theme-global-search-result-item[t-selected][t-unread] {
  color: #fff;
  background-color: #007df9;
}

.t-theme-global-search-result-item .t-inner {
  margin-left: 0.74em;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}

.t-theme-global-search-result-item .t-header,
.t-theme-global-search-result-item .t-body {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
  overflow: hidden;
}

.t-theme-global-search-result-item .t-message-sender {
  margin-right: 0.22em;
}

.t-theme-global-search-result-item .t-timestamp {
  font-size: 85%;
  opacity: 0.75;
}

.t-theme-global-search-result-item .t-timestamp,
.t-theme-global-search-result-item .t-unread-dot {
  flex-shrink: 0;
  margin-left: 0.28em;
}

.t-theme-global-search-result-item .t-conversation-name {
  font-weight: 600;
}

.t-theme-global-search-result-item .t-conversation-name,
.t-theme-global-search-result-item .t-message {
  flex-grow: 1;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.t-theme-global-search-result-item .t-message {
  opacity: 0.75;
  flex-basis: 0; /* helps balance width of message preview with unread message counter */
}

.t-theme-global-search-result-item .t-unread-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.46em;
  border-radius: 9999px;
  height: 20px;
  width: auto;
  min-width: 20px;
  text-align: center;
  line-height: inherit;
  font-size: 85%;
  color: #fff;
  background-color: #007df9;
}

.t-theme-global-search-result-item .t-unread-generic-dot {
  padding: 0.6ex;
  transform: scale(0.999);
  border-radius: 999px;
  background-color: #007df9;
}

.t-theme-global-search-result-item[t-selected] .t-unread-generic-dot {
  padding: 0.6ex;
  transform: scale(0.999);
  border-radius: 999px;
  background-color: #fff;
}

.t-theme-global-search-result-item[t-selected] .t-unread-dot {
  color: #007df9;
  background-color: #fff;
}

.t-theme-global-search-result-item .t-unread-dot:empty {
  padding: 0;
  min-width: 0.74em;
  min-height: 0.74em;
}
