.t-theme-chat-search-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 61px;
  padding: 16px;
  background-color: transparent;
}

.t-theme-chat-search-box .t-search-field {
  flex-grow: 1;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

.t-theme-chat-search-box .t-search-field label {
  top: 5px;
  color: rgb(91 91 91);
  font-size: 0.6em;
  font-weight: 100;
  text-transform: uppercase;
  transition: opacity 0.2s linear;
}

.t-theme-chat-search-box .t-search-field label[t-label-text="off"] {
  opacity: 0;
  z-index: -1;
}

.t-theme-chat-search-box .t-search-field label[t-label-text="on"] {
  opacity: 1;
  position: absolute;
  align-self: center;
}

.t-theme-chat-search-box .t-search-input {
  display: inline-block;
  width: 95%;
  align-self: center;
  color: inherit;
  height: 30px;
  padding: 0;
  font-size: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgb(17 17 17 / 5%);
  background: transparent;
  transition:
    border-bottom-color 125ms ease-in-out,
    color 125ms ease-in-out;
}

/* chrome puts an ugly 'x' inside the form to wipe it, this hides it. */
.t-theme-chat-search-box
  .t-search-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.t-theme-chat-search-box .t-search-input:focus-visible {
  outline: none;
  border: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgb(17 17 17 / 30%);
}

.t-theme-chat-search-box .t-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 36px;
  height: 36px;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;

  background-color: transparent;
  color: rgb(82 82 82);
  transition:
    color 150ms ease-out,
    box-shadow 150ms ease-out;
}

.t-theme-chat-search-box .t-button svg {
  color: currentColor;
  fill: currentColor;
}

.t-theme-chat-search-box .t-button:hover,
.t-theme-chat-search-box .t-button:focus {
  background-color: transparent;
  color: rgb(17 17 17);
}

.t-theme-chat-search-box .t-button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(0 125 249 / 50%);
}

.t-theme-chat-search-box .t-button:disabled,
.t-theme-chat-search-box .t-button[disabled] {
  cursor: initial;
  color: rgb(163 163 163);
}

.t-theme-chat-search-box .t-button:disabled:hover,
.t-theme-chat-search-box .t-button[disabled]:hover,
.t-theme-chat-search-box .t-button:disabled:focus,
.t-theme-chat-search-box .t-button[disabled]:focus {
  background-color: transparent;
  color: rgb(163 163 163);
}

.t-theme-chat-search-box .t-previous-button,
.t-theme-chat-search-box .t-next-button,
.t-theme-chat-search-box .t-back-button {
  padding: 0;
}
