.t-theme-file-block {
  display: contents;
}

.t-theme-file-block a {
  word-break: break-all;
  text-decoration: none;
}

.t-theme-file-block .t-filename {
  text-decoration: underline;
}

.t-theme-file-block .t-attachment-icon {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}

.t-theme-file-block .t-filesize {
  white-space: nowrap;
  font-size: 75%;
}

.t-theme-file-block .t-loading-spinner {
  animation: spin 1.2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  display: block;
  margin: auto;
  width: 4em;
  height: 4em;
}
